    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
<html lang="">
<ul class="cont">
    {% if current_user.is_anonymous %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
    {% else %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'search-nnb' %}">Search</a></li>
        <li><a href="{% url 'create-nnb' %}">Create</a></li>
    {% endif %}
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a>Report Bug</a></li>
</ul>
<body>
<center>
    {% block content %}

    {% endblock %}
</center>
</body>
</html>