{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="form_bag">
        <form method="POST">
            {% csrf_token %}
            <button type="button" class="collapsible">Input initial model</button>
            <div class="content" style="display: none">
                <div>
                    <p><label> Activations
                        <input type="text" name="activation_list">
                    </label>
                    <p></p>
                    <p><label> Neurons Quantity
                        <input type="text" name="neuronsq_list">
                    </label></p>
                </div>
            </div>
            <button type="button" class="collapsible">Set up initial parameters</button>
            <div class="content" style="display: none">
                <div>
                    <p><label> Initial Temperature
                        <input type="text" name="initial_temperature">
                    </label>
                    <p></p>
                    <p><label> Scale
                        <input type="text" name="scale">
                    </label></p>
                    <p><label> Reset step
                        <input type="text" name="reset_step">
                    </label></p>
                </div>
            </div>
            <p>
                <label> Expression
                    <input type="text" name="expression">
                </label></p>
            <p>
                <label> Time
                    <input id="time_field" type="text" name="time">
                </label></p>
            <p>
                <label> Linspace
                    <input type="text" name="linspace">
                </label></p>
            <p>
                <input type="submit" value='build' name="build" id="build" onclick="show_div();countdown()"/>
            </p>

        </form>
    </div>
    <div id="loading_bag">
        <div id="loader" style="display:none;" class="loader">
        </div>
        <span id="countdowntimer"> </span>
    </div>

    <link rel="stylesheet" type="text/css" href="{% static 'styles/configure.css' %}">
    <script src="{% static 'configure.js' %}">
    </script>
{% endblock %}
