{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% csrf_token %}
    <div id="search-space">
        <form method='post' action='#'>
            {% csrf_token %}
            <input type="text" value="Expression" onfocus="if (this.value=='Expression') this.value = ''" name="Func">
            <input type="submit" value="Find" name="Find">
        </form>
    </div>
    <table id="my-table">
        <tr>
            <th>Neural Network ID</th>
            <th>Creator</th>
            <th>Expression</th>
            <th>Activations</th>
            <th>Neurons</th>
            <th>MSE</th>
            <th>Graph visualisation</th>
        </tr>
        {% for item in query_results %}
            <tr>
                <td><a href="{% url 'nnb' item.nnb_id.id %}">Check {{ item.id }}</a></td>
                <td>{{ item.nnb_id.creator }}</td>
                <td>{{ item.nnb_id.problem }}</td>
                <td>{{ item.nnb_id.activation_list }}</td>
                <td>{{ item.nnb_id.neuron_list }}</td>
                <td>{{ item.nnb_id.mse }}</td>
                <td>
                    <a href="{% url 'graph' item.id %}">See graph {{ item.id }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <script>
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/search_nnb.css' %}">
{% endblock %}