body {
    margin-top: 10%;
    background-size: cover;
    background: linear-gradient(0.25turn, gray, #ebf8e1, gray) no-repeat fixed center;
}

.cont {
    z-index: 999;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cont li {
    float: left;
    border-right: 1px solid #bbb;
}

.cont li:last-child {
    border-right: none;
}

.cont li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cont li a:hover {
    background-color: #111;
}

.cont li a:active {
    background-color: green;
}
