#build {
    position: center;
    z-index: 120;
    width: 120px;
    height: 40px;
}
#loading_bag {
    z-index: -1;
    top: 45%;
    position: absolute;
    height: 300px;
    width: 100%;
}
.loader {
    margin: 0 auto;
    display: flex;
    left: 45%;
    top: 25%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#countdowntimer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.collapsible {
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}